
body{
  background:#e6ebe9;
}


h1{
      width:100%;
      display:inline-block;
      padding-left: 5%;
      font-family: 'Oswald', sans-serif;
      font-size: 2.25rem;
      font-weight: 700;
      color: #04629a;
      margin-top: 2px;
}

h2{
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 5px;
  font : 16px Caecilia lt; color:#7A7A7A;
  padding: 0px 10px 10px 5%;
  display: inline-block;

}

h3 {
    -webkit-margin-after: 0.2em;
}

#introPara{
  font-family: "Noto Sans Display",sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #212529;
  max-width:990px;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


div.tooltip {
    position:absolute;
    width: auto;
    height: auto;
    max-width: 40%;
    margin-top: -1.25em;
    padding: 0.75em 1em;
    font-family: 'Oswald', sans-serif;
    /*white-space: nowrap;*/
    font-size: 20px;
    font-size: 1.33rem;
    font-weight: 300;
    line-height: 1.2;
    color: #04629a;

    background: #FFFFFF;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    /*transform: translate(-5%,-5%);*/

    z-index:2;
}
.background {
  fill: #deeaf1;
  pointer-events: all;
}


.legendtext{
  font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 1.0rem;
    font-weight:600;
}

#GDPchart {
	background: #dce2e7;
	margin-right: 0px;
	margin-left:0px;
}

.domain{
  stroke:none;
}
.tick{
  stroke:#ffffff;
  stroke-width: 0.25;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: #A7A7A7;
  }






.axis line{
  stroke:#ffffff;
  stroke-width:0.5px;
}

.axis path{stroke:none;

}
.axis text{
  color:#575757;
  stroke:none
}



div.tooltip {
    position:absolute;
    width: auto;
    height: auto;
    max-width: 40%;
    margin-top: -1.25em;
    padding: 0.75em 1em;
    font-family: 'Oswald', sans-serif;
    /*white-space: nowrap;*/
    font-size: 20px;
    font-size: 1.33rem;
    font-weight: 300;
    line-height: 1.2;
    color: #04629a;

    background: #FFFFFF;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    /*transform: translate(-5%,-5%);*/

    z-index:2;
}

.explanatory{
   font-family: 'Oswald', sans-serif;
      font-size: 1.2rem;
      font-weight: 300;
      fill: rgb(97, 97, 97);
}


@media only screen and (max-width: 650px) {
  #selIndicator{
      margin-left: 1.2em;
  }
    #indicator_dropdown{

    margin: 5px 0px 5px 0px;
    max-width: 180px;
    }

  .explanatory{
        font-size: 1.15rem;

  }

  .annotation-note-label{
        font-size: 1rem;
  }
  .tick{
  font-size: 0.75rem;
  }

.explanatory{
      font-size: 0.9rem;
}
}